<div class ="post-donate">
    <div id="donate_board" class="donate_bar center">
        <a id="btn_donate" class="btn_donate" href="javascript:;" title="打赏下Lomo呗"></a>
        <span class="donate_txt">
           ↑<br>
		   <%=theme.donate_message%>
        </span>
        <br>
      </div>  
	<div id="donate_guide" class="donate_bar center hidden" >
		<!-- 支付宝打赏图案 -->
		<img src="/img/zhifubao.jpg" alt="支付宝打赏" title="支付宝扫一扫打赏Lomo"> 
		<!-- 微信打赏图案 -->
		<img src="/img/weixin.jpg" alt="微信打赏" title="微信扫一扫打赏Lomo">  
    </div>
	<script type="text/javascript">
		document.getElementById('btn_donate').onclick = function(){
			$('#donate_board').addClass('hidden');
			$('#donate_guide').removeClass('hidden');
		}
        <!-- 鼠标离开打赏区域后自动隐藏二维码 -->
        var x = document.getElementById("donate_guide");
        x.addEventListener("mouseleave", function(){
            $('#donate_board').removeClass('hidden');
			$('#donate_guide').addClass('hidden');
        });
	</script>
</div>